/venv

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# macOS
.DS_Store

# VS Code
.vscode/

# Generated figures and demo GIFs
figures/
*.png
*.jpg
*.jpeg
*.gif

# generated CSV example
theta_theta_dot.csv
